body {
  background-image: url('img/background/typewriter.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  size: 100%;


}
/* row white da home */
#bloco-1 {
  padding-top: 10vh;
  padding-bottom: 7vh;
  margin-top: 75vh;
  margin-bottom: 55vh;
}
